@tailwind base;
@tailwind components;
@tailwind utilities;

 
*{
  color:#fff
}

body{
  background-color: #111;
}

/* to Remove Scrollber of tasklist boxes  */
#tasklist::-webkit-scrollbar{ 
  display: none;
}

